.footer {
    position: fixed;
    bottom: 0;
    height: 65px;
    width: 98%;
    background-color: #282828;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.footerLeft{
    display: flex;
    flex: 0.3;
    align-items: center;
    color: white;
}

.footerCenter{
    flex: 0.4;
    padding: 0 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 300px;
}

.footerRight{
    flex: 0.3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.footerAlbumLogo{
    height: 80px;
    width: 80px;
    margin-right: 20px;
    object-fit: contain;
}

.footerSongInfo > h4 {
    margin-bottom: 5px;
}

.footerSongInfo > p {
    font-size: 12px;
}

.footerGreen{
    color: #1ed15e;
}

.footerIcon:hover, .footerGreen:hover{
    transition: transform 0.2s ease-in-out;
    transform: scale(1.2)
}

.footerRight * .MuiSlider-root{
    color: #1ed15e;
}